@model IEnumerable<LINQ.Models.Employee>

@{
    ViewData["Title"] = "Sorting";
}

<h1>Sorting</h1>

@*<li>*@
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Storage
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("Age", "AgeSorting", "Operation")</li>
        <li>@Html.ActionLink("Department", "IdSorting", "Operation")</li>
        <li>@Html.ActionLink("Name", "Sorting", "Operation")</li>
    </ul>
@*</li>*@

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmployeeID  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
